*{
    box-sizing:border-box;
}
body{
    background-color: white;
}
/*styling for the headings*/
.headings{
    display: inline-block;
    height: auto;
    width: auto;
    margin:2px;
    text-align:center;
    padding: 5px;
    color:white;
    background-color: black;
    border: solid blue;
    border-radius: 15px;
}
/*styling for the images like the icons added as images format*/
img{
    background-color: blue;
    border-radius: 50%;
}
/*styling for the header*/
header{
    color: white;
    background-color: black;
    border: solid blue;
    width:auto;
}
/*h4 heading styling(the Date of birth)*/
header h4{
    text-align: right;
    position:relative;
    margin-right: 10px;
}
/*h1 styling found at the header tag*/
header h1{
    text-align: center;
}
/*headings for the second section*/
.second_headings{
    color:white;
    display: inline-block;
    background-color: blue;
    height: auto;
    width:auto;
    padding:5px;
    border-radius: 5px;
    text-align: center;
}
/*styling for the aside */
aside{
    width:auto;
    float: left;
    padding: 10px;
    background-color: black;
    color:white;
}
section{
    width:auto;
    padding: 10px;
    text-align: center;
}

footer{
    display:block;
    clear:both;/*clears the flow of the aside and other sections*/
}
.progress{
    width:auto;
    position: relative;
    left: 15px;
    text-align: left;
    margin-left: 10px;
    gap:5px;
    display:flex;
}

/*the flow of the section and aside chnages to accomodate screen size*/
@media screen and(max-width:600px) {
    aside,section,main{
        width:100%;
    } 
}